/* Como no Gulp estou rodando o Sass também, eu posso inserir código
Sass aqui, mesmo o arquivo sendo .css */

body {
    background-color: #555;
    color: ghostwhite;
    font-size: 16px;
    text-align: center;
}

.area {
    width: 400px;
    border: 1px solid #FFF;
    padding: 20px;
    margin: auto;
    text-align: center;
}

#calcular {
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    margin: auto;
}